<div class="vertical-menu">

			<div data-simplebar class="h-100">


				<div class="user-sidebar text-center">
					<div class="dropdown">
						<div class="user-img">
							<img src="assets/images/admin.png" alt="" class="rounded-circle">
							<span class="avatar-online bg-success"></span>
						</div>
						<div class="user-info">
							<h5 class="mt-3 font-size-16 text-white">{{app.user.email}}</h5>
							<span class="font-size-13 text-white-50">Administrateur</span>
						</div>
					</div>
				</div>


				<!--- Sidemenu -->
				<div
					id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title">Menu</li>

						<li>
							<a href="/dashboard" class="waves-effect">
								<i class="dripicons-home"></i>
								<span>Tableau de bord</span>
							</a>
						</li>

						<li>
							<a href="/administrateurs" class="waves-effect">
								<i class="mdi mdi-shield-account"></i>
								<span>Administrateur</span>
							</a>
						</li>

						<li>
							<a href="/etablissements" class="waves-effect">
								<i class="mdi mdi-store"></i>
								<span>Etablissements</span>
							</a>
						</li>

						<li>
							<a href="/abonnements" class="waves-effect">
								<i class="mdi mdi-store"></i>
								<span>Abonnements</span>
							</a>
						</li>


						<li>
							<a href="/liste-categorie" class="waves-effect">
								<i class="mdi mdi-tag"></i>
								<span>Categories</span>
							</a>
						</li>

						<li>
							<a href="/clients" class="waves-effect">
								<i class="mdi mdi-account-group"></i>
								<span>Clients</span>
							</a>
						</li>

						<li>
							<a href="/logout" class="waves-effect">
								<i class="mdi mdi-logout"></i>
								<span>Se deconnecter</span>
							</a>
						</li>


						


					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>