{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card">
					<div class="card-body">
						<div class="px-2 py-3">
							<div class="text-center">
								<a href="#">
									<img src="{{asset('assets/images/logo.png')}}" width="170" alt="logo">
								</a>
								<p class="text-muted my-3">Connectez-vous pour continuer vers Linkih.</p>
							</div>

							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							<form class="form-horizontal mt-4 pt-2" method="post">

								<div class="mb-3">
									<label for="inputEmail">Email</label>
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Entrer le nom d'utilisateur">
								</div>

								<div class="mb-3">
									<label for="inputPassword">Mot de passe</label>
									<input  type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Entrer le mot de passe">
								</div>

								<input type="hidden" name="_csrf_token"
									value="{{ csrf_token('authenticate') }}"
								>

								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me"> Se souvenir de moi ?
									</label>
								</div>

								<div>
									<button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Connexion</button>
								</div>

							</form>


						</div>
					</div>
				</div>

				<div class="mt-5 text-center text-white">
					{# <p>Don't have an account ?<a href="auth-register.html" class="fw-bold text-white">
							Register</a>
					</p> #}
					<p>©
						<script>
							document.write(new Date().getFullYear())
						</script>
						Linkih. 
				</div>
			</div>
		</div>

	</div>

{% endblock %}
